.header {
  height: 90px;
  display: flex;
  align-items: center;
    &__links {
      display: flex;
      justify-content: space-between;
      width: 20%;
      &-item {
        text-transform: uppercase;
        color: #000;
        width: calc(100%/2);
        text-align: center;
        &:first-child {
          border-right: 1px solid #000;
        }
      }
    }
  }