.selected {
  padding-top: 5%;
  height: 320px;
  background-color: #333;
  color: #fff;

  @media (max-width: $sm) {
    height: 200px;
  }

  .item {
    line-height: 32px;
    padding-top: 5px;
  }
}