.select-multi {
  .container-flex {
    display: flex;
  }
  &__input-tag {
    display: inline-flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 80%;
    &--item {
      display: flex;
      height: 36px;
      align-items: center;
      background-color: #a9e8eb;
      color: #1269e3;
      margin-right: 2px;
      border-radius: 4px;
      padding-left: 10px;
      font-size: 12px;
      margin-top: 2px;
      .remove-tag {
        position: relative;
        left: -6px;
        top: -4px;
        width: 24px;
        height: 24px;
        opacity: 1;
        &::before,
        &::after {
          position: absolute;
          left: 16px;
          content: ' ';
          height: 11px;
          width: 2px;
          background-color: #003a8c;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .list {
      display: block;
      position: absolute;
    }
    .hidden {
      display: none;
    }
  }
  &__input-wrapper {
    &--input {
      width: 400px;
      position: relative;
      height: 36px;
      padding-left: 15px;
      border-bottom: 1px solid #d6dee4;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #333;
      }
    }
  }
}